<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FunScript.TypeScript.Binding.lib" version="1.1.0.37" targetFramework="net452" />
  <package id="FunScript.TypeScript.Binding.require" version="1.1.0.37" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="jquery.ui.datetimepicker.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net452" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
</packages>