body {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffcc;
}

.legend {
    color: #cc6900;
}

.showHorse {
    display: none;
}

.showMe {
    display: none;
    position: absolute;
    top: 35px;
    left: 450px;
    width: 834px;
    height: 566px;
}

#first {
    display: block;
}

#arrowLeft, #arrowRight {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#arrowLeft {
    display: none;
    position: absolute;
    top: 300px;
    left: 410px;
}

#arrowRight {
    position: absolute;
    top: 300px;
    left: 1300px;
}

.horses {
    position: relative;
    /*top: 50px;*/
    background-color: #ffffb3;
    width: 1000px;
}

fieldset {
    border: 2px double #ff8000;
}

label {
    line-height: 4px;
    color: #b35900;
}

#container {
    background-color: #ffffcc;
    width: 400px;
}

#reservation {
    background-color: #ffeecc;
    width: 400px;
    height: 600px;
}

#textarea {
    width: 250px;
}

form {
    padding-left: 15px;
}

#availability, #horse1{
    background-color: #ffeecc;
}

.horse1 {
    display: none;
    width: 400px;
}

h2 {
    text-align: center;
    color: #e67300;
}

.calendar{
    width: 25px;
    height: 25px;
    top: 30px;
    cursor: pointer;
}