body {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/image/back_image.jpg);
}

.legend {
    color: #cc6900;
}

.showHorse {
    display: none;
}

.showMe {
    display: none;
    position: absolute;
    top: 35px;
    left: 450px;
    width: 834px;
    height: 566px;
}

#first {
    display: block;
}

#arrowLeft, #arrowRight {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#arrowLeft {
    display: none;
    position: absolute;
    top: 300px;
    left: 410px;
}

#arrowRight {
    position: absolute;
    top: 300px;
    left: 1300px;
}

fieldset {
    border: 2px double #ff8000;
}

label {
    line-height: 4px;
    font-weight: bold;
    color:  #77b300;
}

#container {
    width: 400px;
}

#reservation {
    background-color: #ffb31a;
    border-color: #ffaa00;
    border-radius: 15px;
    width: 400px;
    height: 600px;
}

#textarea {
    width: 250px;
}

form {
    padding-left: 15px;
}

#horse1{
        padding-bottom: 10px;
    padding-right: 10px;
}

h2 {
    text-align: center;
    color: #558000;
}

.ui-datepicker-trigger {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.horses{
    border: 3px double #ff9900;
    border-radius: 15px;
}

polymer-element.style{
    width: 750px;
    min-height: 650px;
    max-height: 700px;
    height: 650px;
}

.ui-dialog .ui-dialog-content{
    position: relative;
    border: none;
    background: url(/image/sales.jpg);
    padding: 0;
    overflow: auto;
    border: 0;
}

.ui-widget-content{
    border: none;
    background: none;
    color: none;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    position: relative;

}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
     border-bottom-right-radius: 0px; 
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
 
.ui-widget-header {
    border: none;
    background: none;
    color: none;
    font-weight: lighter;
}

.ui-widget.ui-widget-content {
     border: none; 
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
    position: absolute !important;
    height: 800px !important;
    width: 600px !important;
    top: 297px;
    left: 522px;
    display: block;
}
.button {
    background-color: #77b300; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#age{
    display: none;
}
.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}






/* button code for illustration only */ 


.button, .button.disabled:hover { 
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    border:1px solid #25729a; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center; 
    color: #FFFFFF; 
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3093c7), color-stop(100%, #1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button:hover{
    border:1px solid #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26759e), color-stop(100%, #133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(top, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}